/* BASE STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Onest';
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background: rgb(18, 18, 18);
    color: #fff;
    z-index: 4;
    /* overflow: hidden; */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 24vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  backdrop-filter: blur(12vmax);
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    background: #1A1D21;
    backdrop-filter: blur(15px);
    height: 8vh;
    /* z-index:9999; */
}

.nav__logo_section {
    width: 22%;
    font-weight: 700;
    font-size: 4vh;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav__logo_section img {
    height: 4.5vh;
    margin-right: 10px;
}

.nav_search {
    width: 56%;
    display: flex;
    height: 5vh;
    justify-content: space-between;
}

.nav_search input {
    width: 80%;
    padding-left: 3%;
    background-color: #323840;
    color: #fff;
    border: none;
    border-radius: 2.5vh;
    outline: none;
}

.nav_search input::placeholder {
    color: #C6C5C5;
    font-weight: 300;
    font-size: 3vh;
}

.nav_search button {
    background: none;
    border: none;
    height: 4vh;
}

.star {
    width: 43px;
    height: 35px;
}

.bell {
    width: 30px;
    height: 35px;
}

.nav_search a {
    font-size: 3vh;
    display: flex;
    width: 18%;
    background: rgb(99, 106, 230);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.user_profile {
    width: 22%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: right;
}

.avatar {
    height: 5vh;
    border-radius: 50%;
    margin-right: 8px;
}

.username {
    font-size: 3.6vh;
    margin-right: 8px;
}

.university {
    height: 3.6vh;
    filter: brightness(10);
}

main {
    position: relative;
    z-index:4;
}
.container__content {
    display: flex;
}

.sidebar_left {
    width: 22%;
    height: 92vh;
}

.sidebar_left__menu {
    height: 20vh;
}

.sidebar h3 {
    font-size: 3vh;
    font-weight: 700;
    padding-top: 1.8vh;
    padding-bottom: .5vh;
}

.sidebar p {
    font-size: 2vh;
    font-weight: 500;
}

.sidebar_left__menu ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    font-size: 2vh;
}

.sidebar_left__menu li {
    margin-bottom: .7vh;
}

.sidebar_left__menu a {
    font-weight: 500;
    display: flex;
    height: 3vh;
    align-items: center;
    align-content: center;
}

.sidebar_left__menu img {
    margin-right: 8px;
    height: 2.5vh;
}

.sidebar_left__soon {
    height: 25vh;
}

.notification {
    width: 50%;
    height: 8vh;
    font-weight: 700;
    font-size: 2vh;
    background: #06F;
    border-radius: 2.5vh;
    padding: 7px 12px;
    margin-bottom: 2vh;
}

.sn2 {
    background: #AD00FF;
}

.sn3 {
    background: #FF5959;
}

.sn4 {
    background: #467904;
}

.sn5 {
    background: #FDA432;
}

.sn6 {
    background: #07F;
}

.sn7 {
    background: #F00;
}

.sidebar_left__notifications {
    height: 25vh;
}

.sidebar_right {
    width: 22%;
    height: 92vh;
}

.main_content {
    width: 56%;
    height: 92vh;
    overflow: scroll;
}

.event_block {
    position: relative;
    width: 100%;
    height: 50vh;
    padding-top: 20px;
    padding-left: 25px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    background: linear-gradient(45deg, #000 5%, rgba(0, 0, 0, 0.00) 84.5%), url('../img/event_block.jpeg'), lightgray 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event_block_1 {
    background: linear-gradient(45deg, #000 5%, rgba(0, 0, 0, 0.00) 84.5%), url('../img/event_block_1.jpeg'), lightgray 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event_block_2 {
    background: linear-gradient(45deg, #000 5%, rgba(0, 0, 0, 0.00) 84.5%), url('../img/event_block_2.jpg'), lightgray 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event_block__info {
    padding: 0;
}

.event_block__info p {
    margin: 0;
    font-size: 3vh;
    font-weight: 500;
    line-height: 4vh;
}

.event_block__title {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
}

/* UNAUTHORIZED INDEX */

.greetings {
    height: 92vh;
    background: #1d1d1d url(../img/kona_poster_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* USER REGISTRATION */

.form_wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form_wrapper h3 {
    font-weight: 900;
    font-size: 5vh;
}

.form_wrapper input {
    width: 100%;
    height: 6vh;
    margin-top: 1.5vh;
    border-radius: 3vh;
    padding-left: 3%;
    outline: none;
    background: #707070;
    border: none;
    color: #FFFCFC;
}

.form_wrapper input::placeholder {
    color: #FFFCFC;
    font-weight: 400;
}

input.form__button {
    width: 30%;
    padding: 0;
    color: #1A1A1A;
    background: #FFFCFC;
    font-weight: 700;
}

input.form__button:hover {
    background: #1A1A1A;
    color: #FFFCFC;
    border: 2px solid #FFFCFC;
    transition: all .2s ease;
}

/* USER LOGIN */


/* USER PROFILE */

.profile_content {
    width: 56%;
}

.user_block {
    height: 14vh;
    width: 100%;
    margin-top: 4vh;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.profile_content h3 {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 4vh;
}

.user_block__avatar {
    border-radius: 50%;
    height: 14vh;
    margin-right: 20px;
}

.user_block__user_data h2 {
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 0;
}

.user_block__user_data h4 {
    font-size: 2.5vh;
    font-weight: 300;
}

.interactive_form input[type=submit] {
    border: none;
    outline: none;
    background-color: #3C434D;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-radius: 23px;
    margin-top: 20px;
    margin-right: 10px;
}

.interests_list {
    width: 100%;
    display: flex;
}

.interests_list button {
    outline: none;
    border: none;
    background: none;
    margin-right: 20px;
}

.interests_list__element {
    width: 14vh;
    height: 14vh; 
}

.user_block__friends span {
    color: #595959;
}

/* .friends_list {
    height: 10vh;
    width: 100%;
    display: flex;
} */

.visited__notifications {
    width: 100%;
    height: 10vh;
    display: flex;
}

.visited__notifications div {
    width: 20%;
    height: 100%;
    margin-right: 15px;
}

.experience__notifications {
    width: 100%;
    height: 10vh;
    display: flex;
}

.experience__notifications div {
    width: 20%;
    height: 100%;
    margin-right: 15px;
}

/* QUESTIONNAIRE */

.questionnaire_wrapper {
    display: flex;
    justify-content: space-between;
}

.questionnaire_wrapper__left, .questionnaire_wrapper__right {
    height: 85vh;
    width: 60%;
    margin-top: 3vh;
    /* border: 2px solid red; */
}

.questionnaire_wrapper__left {
    margin: auto 0;
}

.title_block {
    width: 100%;
    margin: 0;
    margin-top: 10vh;
    text-align: center;
}

.title_block img {
    width: 120px;
    height: 80px;
    margin-bottom: 1.5vh;
}

.title_block h1 {
    font-weight: 900;
    margin-bottom: 0;
}

.form_block {
    width: 90%;
    /* border: 2px solid blue; */
    height: 40vh;
    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
}

.form_block input, select {
    width: 100%;
    height: 5vh;
    margin-bottom: 2.5vh;
    border-radius: 2.5vh;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #707070;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 2.5vh;
}

.form_block input::placeholder {
    color: #fff;
}

.form_block select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_block input[type=submit] {
    width: 30%;
    margin: 0 auto;
}

.questionnaire_wrapper__right {
    width: 35%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url('../img/questionnaire.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6vh;
}

/* FRIENDS */

.friends_content {
    width: 56%;
    height: 90vh;
    margin: 1vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    background: #1A1D21;
    border-radius: 2.5vh;

    /* border: 2px solid red; */
}

.friends_content__user {
    width: 100%;
    height: 12vh;
    /* border: 2px solid blue; */
    margin: 1vh 0;
    padding: 0 3%;
    display: flex;
    align-items: center;
}

.friends_content__user:hover {
    background-color: #8e8e8e;
}

.friends_content__user img {
    height: 10vh;
    border-radius: 50%;
    margin-right: 3%;
}

.friend_info {
    display: flex;
    flex-direction: column;
}

.friend_info p {
    margin: 0;
    color: #ccc;
}

.friend_info a:hover {
    text-decoration: underline;
}

.line {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
}