@media (max-width: 1199px) {
    .nav_search {
        display: none;
    }

    .nav__logo_section {
        width: 50%;
    }

    .user_profile {
        width: 50%;
    }

    .star {
        display: none;
    }

    .bell {
        display: none;
    }
}

@media (max-width: 991px) {
    .sidebar_left {
        display: none;
    }

    .friends_content {
        width: 100%;
    }
}