{% extends 'main.html' %}

{% block main_content %}

    {% include 'sidebar_left.html' %}

    <div class="main_content">
        {% for el in results %}
        <a href="/event/{{ el.id }}" target="_blank">
            <div class="event_block">
                <div class="event_block__info">
                    <p id="dateDisplay">{{ el.start_time.strftime("%Y-%m-%d") }}</p>
                    <p>{{ el.start_time.strftime("%H:%M") }}</p>
                    <p>{{ el.address }}</p>
                </div>
                <h2 class="event_block__title">
                    {{ el.name }}
                </h2>
            </div>
        </a>

        {% endfor %}
    </div>

    <div class="sidebar sidebar_right" style="display: none;">
        <h3>Параметры</h3>
        <p>Этим мы потом <br> займемся</p>
    </div>





<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    var offset = 2;
    var isLoading = false;
    function formatDate(dateString) {
            const date = new Date(dateString);
            const options = {
                day: 'numeric',
                month: 'long'
            };
            return date.toLocaleDateString('ru-RU', options);
        }

    var $mainContent = $('.main_content');
    $mainContent.scroll(function() {

        var scrollTop = $mainContent.scrollTop();
        var scrollBottom = scrollTop + $mainContent.height();

        if (scrollBottom >= $mainContent[0].scrollHeight - 100 && !isLoading) {
                isLoading = true;

            $.ajax({
                url: '/events',
                type: 'post',
                data: {
                    offset: offset,
                    scroll: true,
                },
                success: function(data) {
                    $(".main_content").append(data);
                    console.log(data)
                    offset += 2;
                    isLoading = false;
                },
                error: function(xhr, status, error) {
                    console.error('Error:', status, error);
                    isLoading = false;
                }
            });


        }
    });

    document.addEventListener('DOMContentLoaded', function() {

            const dateDisplays = document.querySelectorAll('#dateDisplay');

            dateDisplays.forEach(display => {
              display.textContent = formatDate(display.textContent);
            });
});

</script>

{% endblock %}