{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
    <main>
        <div class="container">
            <div class="container__content">
                <div class="sidebar sidebar_left">
                    <div class="sidebar_left__menu">
                        <h3>Меню</h3>
                        <ul>
                            <li><a href="{{ url_for('.events') }}"><img src="../static/img/flag.svg" alt="">Мероприятия</a></li>
                            <li><a href="{{ url_for('.friends') }}"><img src="../static/img/user.svg" alt="">Друзья</a></li>
                            <li><a href="{{ url_for('.messenger') }}"><img src="../static/img/message.svg" alt="">Сообщения</a></li>
                        </ul>
                    </div>
                    <div class="sidebar_left__soon">
                        <h3>Скоро у вас</h3>

                    </div>
                    <div class="sidebar_left__notifications">
                        <h3>Уведомления</h3>

                    </div>
                </div>
                
                {% block index_content %}{% endblock %}

            </div>
        </div>
    </main>
{% else: %}
    <section class="greetings">
    </section>
{% endif %}

{% endblock %}