{% extends 'index.html' %}

{% block index_content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
<div class="messages">
    <input placeholder="Message" id="messageInput">
</div>


<script>
    const sio = io();
    sio.on('connect', () => {
        console.log('connected');
        sio.emit('message', 'sup');

    });
</script>

{% endblock %}