
        {% for el in results %}
        <a href="/event/{{ el.id }}" target="_blank">
            <div class="event_block">
                <div class="event_block__info">
                    <p id="dateDisplay">{{ el.start_time.strftime("%Y-%m-%d") }}</p>
                    <p>{{ el.start_time.strftime("%H:%M") }} - {{ el.finish_time.strftime("%H:%M") }}</p>
                    <p>{{ el.address }}</p>
                </div>
                <h2 class="event_block__title">
                    {{ el.name }}
                </h2>
            </div>
        </a>


{% endfor %}

