{% extends 'base.html' %}

{% block content %}
        
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>
<script src="https://snipp.ru/cdn/selectize.js/0.12.6/dist/js/selectize.min.js"></script>

<div class="container">
    
    <button type="button" id="regPrevBtn" onclick="changeTab(-1)">
        <img src="../static/img/regPrevBtn.svg" alt="" srcset="">
    </button>
    
    <div class="tab">
        <div class="questionnaire_wrapper">
            <div class="questionnaire_wrapper__left">
                <div class="questionnaire_wrapper__left_blocks">
                    <div class="title_block">
                        <img src="../static/img/logo_light.png" alt="">
                        <h1>Узнаем кое-что</h1>
                        <button type="button" id="regNextBtn" onclick="changeTab(1)">Далее</button>
                    </div>
                </div>
            </div>
            <div class="questionnaire_wrapper__right">

            </div>
        </div>
    </div>

    <div class="tab">
        
        <div class="title_block">
            <img src="../static/img/logo_light.png" alt="">
            <h1>Узнаем кое-что</h1>    
        </div>

        <div class="form_block">
            <h4>Кто Вы?</h4>
            <input type="radio" class="btn-check" name="user_role" id="option1" autocomplete="off">
            <label class="btn btn-secondary" for="option1">Студент</label>
            <br>
            <input type="radio" class="btn-check" name="user_role" id="option2" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option2">Учреждение</label>
            <br>
            <input type="radio" class="btn-check" name="user_role" id="option3" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Организатор</label>
            <br>
            <input type="radio" class="btn-check" name="user_role" id="option4" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option4">Преподаватель</label>
            <br>
            <input type="radio" class="btn-check" name="user_role" id="option5" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option5">Школьник</label>
            <br>
            
        </div>
        <button type="button" id="regNextBtn" onclick="changeTab(1)">Далее</button>
    </div>

    <div class="tab">
        
        <div class="title_block">
            <img src="../static/img/logo_light.png" alt="">
            <h1>Узнаем кое-что</h1>
        </div>
        
        <div class="form_block">
            <h4>Как Вас зовут?</h4>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Фамилия">
            
            <h4>Когда Вы родились?</h4>
            <div class="form_block__born">
                <input type="text" placeholder="День">
                <input type="text" placeholder="Месяц">
                <input type="text" placeholder="Год">
            </div>

        </div>
        <button type="button" id="regNextBtn" onclick="changeTab(1)">Далее</button>
    </div>

    <div class="tab">
        <div class="title_block">
            <img src="../static/img/logo_light.png" alt="">
            <h1>Узнаем кое-что</h1>
        </div>
        <div class="form_block">
            <h4>Где Вы учитесь?</h4>
            <input type="text" placeholder="Университет">
            <h4>На кого Вы учитесь?</h4>
            <input type="text" placeholder="Факультет">
            <input type="text" placeholder="Специальность">
            <input type="text" placeholder="Курс">
            <br>

        </div>
        <button type="button" id="regNextBtn" onclick="changeTab(1)">Далее</button>
    </div>

    <div class="tab">
        <div class="title_block">
            <img src="../static/img/logo_light.png" alt="">
            <h1>Узнаем кое-что</h1>
        </div>
        <div class="form_block">
            <h4>Мы очень злая корпорация, которая собирает ваши данные и отправляет их другим злым корпорациям<br>Можем ли мы попросить Ваше согласие на это?</h4>
            <a class="terms_of_use" href="{{ url_for('main.docs', document_name='terms-of-use.pdf') }}" target="_blank">Пользовательское соглашение</a>
            <br>

        </div>
        <button type="button" id="regNextBtn" onclick="changeTab(1)">Далее</button>
    </div>

    <div class="tab">

    </div>

    <div class="tab">

    </div>


</div>

{% for category, msg in get_flashed_messages(True) %}
    <div id="flash" class="flash {{category}}">{{msg}}</div>
{% endfor %}

<script src="../static/js/questionnaire.js"></script>

{% endblock %}