{% extends 'index.html' %}

{% block index_content %}

    <div class="profile_content">
        <div class="user_block">
            <img src="../static/img/avatar_cap.png" alt="" class="user_block__avatar">
            <div class="user_block__user_data">
                <h2>{{profile_owner['name']}} {{profile_owner['surname']}}</h2>
                {% if city_exists and university_exists %}
                <h4>{{city}}, {{profile_owner['university']}}</h4>
                {% endif %}
            </div>
        </div>
        <div class="interactive_block">
            {% if current_user.tag != profile_owner['tag'] %}
            <form action="" class="interactive_form" id="interactive_form" name="interactive_form" method="POST">
                {% if pending_invite %}
                <input type="submit" value="Принять заявку" name="accept_invite">
                {% elif sent_invite or accepted_invite or reverse_accepted_invite %}
                <input type="submit" value="Добавить в друзья" name="add_friend" style="display: none;">
                {% else %}
                <input type="submit" value="Добавить в друзья" name="add_friend">
                {% endif %}
                <input type="submit" value="Написать сообщение" name="write_message">
            </form>
            {% endif %}
        </div>

        <div class="user_block__interests">
            <h3>Интересы</h3>
            <div class="interests_list">
                {% if current_user.tag != profile_owner['tag'] %}
                <button style="display:none;"><img src="../static/img/Squircle.png" alt="" class="interests_list__element"></button>
                {% else %}
                <button><img src="../static/img/Squircle.png" alt="" class="interests_list__element"></button>
                {% endif %}
            </div>
        </div>
        <div class="user_block__friends">
            <h3>Друзья <span>({{ friend_count }})</span></h3>
            <div class="friends_list">

            </div>
        </div>
        <div class="user_block__visited">
            <h3>Посещено</h3>
            <div class="visited__notifications">
                <div class="notification sn3">Лекция по налогам</div>
                <div class="notification sn4">Форум "How to market"</div>
                <div class="notification sn5">ПМЭФ</div>
            </div>
        </div>
        <div class="user_block__experience">
            <h3>Опыт работы</h3>
            <div class="experience__notifications">
                <div class="notification sn6">VK</div>
                <div class="notification sn7">Пятёрочка</div>
            </div>
        </div>
        <div class="user_block__portfolio">
            <h3>Портфолио</h3>
        </div>

        <a href="{{ url_for('.logout') }}">Выход</a>
    </div>

{% endblock %}
