{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="registration form_wrapper">
            <form action="" method="post" class="registration_form">
                <h3>регистрация</h3>
                <input type="text" name="user_name" placeholder="Имя">
                <input type="text" name="user_surname" placeholder="Фамилия">
                <input type="text" name="user_login" placeholder="Логин">
                <input type="email" name="email" placeholder="Адрес электронной почты">
                <input type="password" name="password" id="" placeholder="Пароль">
                <input type="password" name="password_repeat" id="" placeholder="Повторите пароль">
                <div class="registration_form__center">
                    <input type="button" class="registration_form__button" value="Вперед!">
                </div>
                <!-- <p>Вы - компания? <a href="">Зарегистрируйтесь!</a></p> -->
            </form>
        </div>
        
    </div>
{% endblock %}