{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="registration form_wrapper">
            <form action="" method="post" class="registration_form">
                <h3>регистрация <span id="cursor">|</span></h3>
                <input type="text" name="user_name" placeholder="Имя">
                <input type="text" name="user_surname" placeholder="Фамилия">
                <input type="text" name="user_login" placeholder="Логин">
                <input type="email" name="email" placeholder="Адрес электронной почты">
                <input type="password" name="password" placeholder="Пароль">
                <input type="password" name="password_confirm" placeholder="Повторите пароль">
                <input type="submit" class="form__button" value="Вперед!">
                <!-- <p>Вы - компания? <a href="">Зарегистрируйтесь!</a></p> -->
            </form>
        </div>
    </div>
    {% for category, msg in get_flashed_messages(True) %}
        <div id="flash" class="flash {{category}}">{{msg}}</div>
    {% endfor %}
{% endblock %}