{% extends 'index.html' %}

{% block index_content %}

    <div class="profile_content">
        <div class="user_block">
            <img src="../static/img/avatar_cap.png" alt="" class="user_block__avatar">
            <div class="user_block__user_data">
                <h2>{{profile_owner['name']}} {{profile_owner['surname']}}</h2>
                {% if city_exists and university_exists %}
                <h4>{{city}}, {{profile_owner['university']}}</h4>
                {% endif %}
            </div>
        </div>
        <div class="interactive_block">
            {% if current_user.tag != profile_owner['tag'] %}
            <form action="" class="interactive_form" id="interactive_form" method="POST">
                <input type="submit" value="Добавить в друзья" name="add_friend">
                <input type="submit" value="Написать сообщение" name="write_message">
            </form>
            {% endif %}
        </div>

        <div class="user_block__interests">
            <h3>Интересы</h3>
            <div class="interests_list">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
                <img src="../static/img/Squircle.png" alt="" class="interests_list__element">
            </div>
        </div>
        <div class="user_block__friends">
            <h3>Друзья</h3>
        </div>
        <div class="user_block__visited">
            <h3>Посещено</h3>
        </div>
        <div class="user_block__experience">
            <h3>Опыт работы</h3>
        </div>
        <div class="user_block__portfolio">
            <h3>Портфолио</h3>
        </div>

        <a href="{{ url_for('.logout') }}">Выход</a>
    </div>

{% endblock %}
