{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="login form_wrapper">
            <form action="" class="login_form" method="post">
                <h3>вход</h3>
                <input type="email" name="" id="">
                <input type="password" name="" id="">
                <input type="button" value="Вперед!">
            </form>
            <a href="{{ url_for('main.registration') }}">Регистрация</a>
        </div>
    </div>
{% endblock %}